@model ML.Materia
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Formulario</h2>
<hr />
<div>
    @using (Html.BeginForm("Form", "Materia", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(model => model.IdMateria)
        <div class="row mb-3">
            <div class="col col-4">
                @Html.LabelFor(model => model.Nombre)
                @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Nombre, "", new {@class="text-danger" })
            </div>
            <div class="col col-4">
                @Html.LabelFor(model => model.Costo)
                @Html.TextBoxFor(model => model.Costo, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Costo, "", new { @class = "text-danger"  })
            </div>
        </div>
        <div>
            <button class="btn btn-success" type="submit"><i class="fa-solid fa-floppy-disk"></i>  Guardar</button>
            <a class="btn btn-danger" href="@Url.Action("GetAll","Materia")"><i class="fa-solid fa-circle-chevron-left"></i>  Volver</a>
        </div>
    }
</div>
